/.idea/compiler.xml
/.idea/encodings.xml
/.idea/jarRepositories.xml
/.idea/misc.xml
/.idea/modules.xml
/.idea/shelf/Uncommitted_changes_before_Checkout_at_17_08_2022_00_08_[Changes]/projeto-aem.all-0.0.1-SNAPSHOT.zip
/.idea/shelf/Uncommitted_changes_before_Checkout_at_17_08_2022_00_08_[Changes]/projeto-aem.all-0.0.1-SNAPSHOT-cp2fm-converted.zip
/.idea/shelf/Uncommitted_changes_before_Checkout_at_17_08_2022_00_08_[Changes]/projeto-aem.core-0.0.1-SNAPSHOT.jar
/.idea/shelf/Uncommitted_changes_before_Checkout_at_17_08_2022_00_08_[Changes]/projeto-aem.core-0.0.1-SNAPSHOT1.jar
/.idea/shelf/Uncommitted_changes_before_Checkout_at_17_08_2022_00_08_[Changes]/projeto-aem.it.tests-0.0.1-SNAPSHOT.jar
/.idea/shelf/Uncommitted_changes_before_Checkout_at_17_08_2022_00_08_[Changes]/projeto-aem.it.tests-0.0.1-SNAPSHOT-jar-with-dependencies.jar
/.idea/shelf/Uncommitted_changes_before_Checkout_at_17_08_2022_00_08_[Changes]/projeto-aem.ui.apps.structure-0.0.1-SNAPSHOT.zip
/.idea/shelf/Uncommitted_changes_before_Checkout_at_17_08_2022_00_08_[Changes]/projeto-aem.ui.apps-0.0.1-SNAPSHOT.zip
/.idea/shelf/Uncommitted_changes_before_Checkout_at_17_08_2022_00_08_[Changes]/projeto-aem.ui.apps-0.0.1-SNAPSHOT-cp2fm-converted.zip
/ui.config/projeto-aem.ui.config.iml
/.idea/shelf/Uncommitted_changes_before_Checkout_at_17_08_2022_00_08_[Changes]/projeto-aem.ui.config-0.0.1-SNAPSHOT.zip
/.idea/shelf/Uncommitted_changes_before_Checkout_at_17_08_2022_00_08_[Changes]/projeto-aem.ui.config-0.0.1-SNAPSHOT-cp2fm-converted.zip
/.idea/shelf/Uncommitted_changes_before_Checkout_at_17_08_2022_00_08_[Changes]/projeto-aem.ui.content-0.0.1-SNAPSHOT.zip
/.idea/shelf/Uncommitted_changes_before_Checkout_at_17_08_2022_00_08_[Changes]/projeto-aem.ui.content-0.0.1-SNAPSHOT-cp2fm-converted.zip
/.idea/shelf/Uncommitted_changes_before_Checkout_at_17_08_2022_00_08_[Changes]/projeto-aem.ui.frontend-0.0.1-SNAPSHOT.zip
/.idea/shelf/Uncommitted_changes_before_Checkout_at_17_08_2022_00_08_[Changes]/shelved.patch
/.idea/shelf/Uncommitted_changes_before_Checkout_at_17_08_2022_00_08__Changes_.xml
/.idea/workspace.xml
